-----BEGIN CERTIFICATE-----
MIICljCCAX4CCQDUeXaAmPLKbzANBgkqhkiG9w0BAQsFADBCMQ8wDQYDVQQDDAZS
ZXhPbmUxHTAbBgNVBAsMFE1vYmlsZSBFbmdpbmVlcmluZzENMAsGA1UECgwEUmV4
OTELMAkGA1UEBhMCVVMwHhcNMjYxMDA0MDYxNzE0WhcNMjYxMDA0MDYxNzE0WjBC
...EXAMPLE_BASE64_CERTIFICATE_CONTENT_DO_NOT_USE_IN_PRODUCTION...
-----END CERTIFICATE-----
